@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/index';
@import 'partials/nav';
@import 'partials/cssview';
@import 'partials/popover';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$small-1: "(min-width: 100px) and (max-width: 499px)";
$small-2: "(min-width: 500px) and (max-width: 699px)";
$medium-1: "(min-width: 700px) and (max-width: 899px)";
$medium-2: "(min-width: 900px) and (max-width: 1099px)";
$large: "(min-width: 1100px)";

$black: #000000;
$white: #FFFFFF;
$grey-blue: #373F47;
$teal: #30B3AA;
$dark-teal: #2C9F97;
$dark-grey: #535353;
$light-grey: #E6E8E6;
$mint: #48DDB9;

@mixin small-1{
  @media #{$small-1} {
    @content;
  }
}

@mixin small-2{
  @media #{$small-2} {
    @content;
  }
}

@mixin medium-1{
  @media #{$medium-1} {
    @content;
  }
}

@mixin medium-2{
  @media #{$medium-2} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-family: 'Lato', sans-serif;
}
a{
  text-decoration: none;
  &:visited{
    color: #000000;
  }
}

///////////////////////////////////////
/////      REUSABLE ELEMENTS      /////
///////////////////////////////////////
.row{
  padding: 75px 0;
  .flex-nowrap-container{
    margin: 0 50px;
    display: flex;
    flex-flow: row nowrap;
    .flex-50{
      flex: 0 0 50%;
    }
    .left{
      padding-right: 25px;
    }
    .right{
      padding-left: 25px;
    }
  }
  .flex-wrap-container{
    margin: 0 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

///////////////////////////////////////
/////          ABOUT PAGE         /////
///////////////////////////////////////
.header-image{
  background: url(https://static.pexels.com/photos/70232/pexels-photo-70232.jpeg) no-repeat top center;
  background-size: cover;
  background-color: $teal;
  padding: 175px 0 125px;
  background-attachment: fixed;
  h1{
    font-size: 3rem;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    margin-left: 50px;
  }
}

.flex-photos{
  flex: 0 0 200px;
  text-align: center;
  padding: 10px 10px;
  img{
    width: 180px;
    border-radius: 50%;
  }
  h2{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  p{
    font-size: 0.8rem;
    color: $dark-grey;
  }
}

.profile{
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.pos-1{
  @include small-1{
    order: 1;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -720px 0;
    }
  }
  @include small-2{
    order: 1;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -540px 0;
    }
  }
  @include medium-1{
    order: 1;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -360px 0;
    }
  }
  @include medium-2{
    order: 1;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -180px 0;
    }
  }
  @include large{
    order: 1;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) 0 0;
    }
  }
}
.pos-2{
  @include small-1{
    order: 2;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -720px 0;
    }
  }
  @include small-2{
    order: 2;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -540px 0;
    }
  }
  @include medium-1{
    order: 3;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -360px 0;
    }
  }
  @include medium-2{
    order: 2;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -180px 0;
    }
  }
  @include large{
    order: 2;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) 0 0;
    }
  }
}
.pos-3{
  @include small-1{
    order: 3;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -720px 0;
    }
  }
  @include small-2{
    order: 5;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -540px 0;
    }
  }
  @include medium-1{
    order: 2;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -360px 0;
    }
  }
  @include medium-2{
    order: 5;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -180px 0;
    }
  }
  @include large{
    order: 3;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -00px 0;
    }
  }
}
.pos-4{
  @include small-1{
    order: 4;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -720px 0;
    }
  }
  @include small-2{
    order: 3;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -540px 0;
    }
  }
  @include medium-1{
    order: 4;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -360px 0;
    }
  }
  @include medium-2{
    order: 3;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -180px 0;
    }
  }
  @include large{
    order: 4;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -0 0;
    }
  }
}
.pos-5{
  @include small-1{
    order: 5;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -720px 0;
    }
  }
  @include small-2{
    order: 4;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -540px 0;
    }
  }
  @include medium-1{
    order: 5;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -360px 0;
    }
  }
  @include medium-2{
    order: 4;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) -180px 0;
    }
  }
  @include large{
    order: 5;
    .profile{
      background: url(http://cdn.niketalk.com/f/f5/900x900px-LL-f570fdfc_pacific-division.png) 0 0;
    }
  }
}

.photos{
  background-color: $light-grey;
}

///////////////////////////////////////
///// TEMPLATE & EDITOR CONTAINER /////
///////////////////////////////////////
.template-edit-container{
  margin-top: 75px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  background-color:#eaeaea;
}

// ** Template (Left Side) ** //
.template-container{
  margin: 50px 25px 50px 50px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
}

.template-one{
  margin: 0 auto;
  padding: 25px;
}

.selected {
  outline: 5px solid blue;
}

// ** Editor (Right Side) ** //
.current-styles-container{
  margin-top: 15px;
  padding: 10px;
  height: 90px;
  background-color: $teal;
  h6{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
  }
}

.current-elem-styles{
  margin-top: 10px;
  padding: 5px;
  height: 50px;
  background-color: $white;
}

.edit-views-container{
  position: relative;
}

.edit-container{
  width: 300px;
  margin: 50px 50px 50px 25px;
  background-color: $white;
  h1{
    padding: 10px;
    font-size: 1.75rem;
    text-align: center;
    background-color: $teal;
    color: $white;
  }
  h3{
    padding: 8px;
  }
  select{
    margin: 0 10px 0 10px;
    width: 95%;
  }
  option{
    height: 40px;
  }
  .export-css{
    margin: 8px 15px 8px 11px;
  }
  .save, .update, .download{
    margin: 8px 15px 8px 11px;
  }
  .font-button, .div-button, .template-button{
      background-color: #fff;
      width: 13px;
      height: 30px;
      color: $dark-grey;
      outline: none;
      box-shadow: none;
      &:hover{
        background-color: #fff;
      }
      &:active{
        background-color: #fff;
      }
  }
  .view-css{
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  button{
    background-color: $teal;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    letter-spacing: .1rem;
    box-shadow: 0 3px #999;
    &:hover{
      outline: none;
      transition: all 0.5s ease;
      background-color: $dark-teal;
    }
    &:active{
      outline: none;
      background-color: $dark-teal;
      transform: translateY(4px);
    }
  }
  select{
    width: 90%;
    background: transparent;
    padding: 4px;
    font-size: 0.9rem;
    border: 0;
    border-radius: 3px;
    height: 30px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    color: #c0c0c0;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.font-choices, .div-choices, .template-choices{
  margin: 3px 6px 3px 6px;
  border-width: 1px;
  border-bottom-style: solid;
}

.template-menu{
  padding-top: 10px;
}

.font-toggle{
  width: 68px;
  h3{
    float: right;
  }
}

.div-toggle{
  width: 60px;
  h3{
    float: right;
  }
}

.template-toggle{
  width: 100px;
  h3{
    float: right;
  }
}
.fa-caret-right{
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.fa-caret-right.open{
  transform: rotate(90deg);
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/////// RESOURCE PAGE ///////
.resource-image{
  background: url('/images/working_design.jpg') no-repeat top center;
  background-size: cover;
  background-color: $teal;
  padding: 175px 0 125px;
  background-attachment: fixed;
  h1{
    font-size: 3rem;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    margin-left: 50px;
  }
}

.fontsite-container{
  width: 900px;
  h1{
    font-size: 25px;
    font-weight: 700;
  }
}

.colorpalette-container{
  width: 900px;
  h1{
    font-size: 25px;
    font-weight: 700;
  }
}

.grid-container{
  width: 900px;
  h1{
    font-size: 25px;
    font-weight: 700;
  }
}
