
@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/index';
@import 'partials/nav';

@import 'https://fonts.googleapis.com/css?family=Lato|Galada';

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 601px) and (max-width: 900px)";
$large: "(min-width: 900px)";

$darkBlue: #373F47;
$lightGrey: #E6E8E6;
$darkGrey: #535353;
$teal: #30B3AA;
$darkerTeal: #2C9F97;
$whiteGrey: #E9E9E9;
$greyFont: #4A4A4A;
$mintGreen: #48DDB9;

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

body{
  font-family: 'Lato', sans-serif;
}

.active {
  background-color: $mintGreen;
  color: $greyFont;
  a:visited{
    color: $greyFont;
  }
}

///// Edit /////

.template-edit-container{
  padding-top: 47px;
  display: flex;
  flex-flow: row no-wrap;
}

.template-one{
  flex: auto;
}

.editColumn{
  width: 300px;
  height: 100%;
  color: $darkBlue;
  box-shadow: -10px 0px 10px 1px rgba(192, 192, 192, .2);
  background-color: #f0f0f0;
  right: 0;
  h1{
    font-family: 'Galada', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: $teal;
    color: $whiteGrey;
    padding-top: 10px;
  }
  h3{
    padding: 8px;
  }
  select{
    margin: 0 10px 0 10px;
    width: 95%;
  }
  option{
    height: 40px;
  }
  .export-css{
    margin: 8px 15px 8px 11px;
  }
  .save{
    margin: 8px 15px 8px 11px;
  }
  button{
    background-color: $teal;
    border: none;
    color: $whiteGrey;
    font-size: 0.9rem;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    letter-spacing: .1rem;
    box-shadow: 0 3px #999;
    &:hover{
      outline: none;
      transition: all 0.5s ease;
      background-color: $darkerTeal;
    }
    &:active{
      outline: none;
      background-color: $darkerTeal;
      transform: translateY(4px);
    }
  }
  select{
    width: 90%;
    background: transparent;
    padding: 4px;
    font-size: 0.9rem;
    border: 0;
    border-radius: 3px;
    height: 30px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    color: #c0c0c0;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1px;
    background-repeat: no-repeat;
    outline: none;
  }
}