@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/index';
@import 'partials/nav';
@import 'partials/cssview';
@import 'partials/popover';

@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Yeseva+One';

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 601px) and (max-width: 900px)";
$large: "(min-width: 900px)";

$black: #000000;
$white: #FFFFFF;
$grey-blue: #373F47;
$teal: #30B3AA;
$dark-teal: #2C9F97;
$dark-grey: #535353;
$light-grey: #E6E8E6;
$mint: #48DDB9;

@mixin small{
  @media #{$small} {
    @content;
  }
}

@mixin medium{
  @media #{$medium} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-family: 'Lato', sans-serif;
}

///////////////////////////////////////
///// TEMPLATE & EDITOR CONTAINER /////
///////////////////////////////////////
.template-edit-container{
  margin-top: 50px;
  border-bottom: 2px $teal solid;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

// ** Template (Left Side) ** //
/* CONTAINER TO HOLD TEMPLATE */
.template-container{
  width: 900px;
  margin: 10px auto;
  padding: 25px;
  border: 1px solid #000;
}

.template-one{
  margin: 0 auto;
  padding: 25px;
}

hr{
  margin-top: 15px;
  border-top: 1px solid #8c8b8b;
}

.current-styles-container{
  margin-top: 15px;
  padding: 10px;
  height: 90px;
  background-color: $teal;
  h6{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
  }
}

.current-elem-styles{
  margin-top: 10px;
  padding: 5px;
  height: 50px;
  background-color: $white;
}

.selected {
  outline: 5px solid blue;
}

// ** Editor (Right Side) ** //
.views{
  position: relative;
}

.editColumn{
  width: 300px;
  height: 100%;
  border-left: 2px $teal solid;
  // color: $grey-blue;
  // box-shadow: -10px 0px 10px 1px rgba(192, 192, 192, .2);
  // background-color: #f0f0f0;
  // right: 0;
  h1{
    padding: 10px;
    font-family: 'Yeseva One', cursive;
    font-size: 1.75rem;
    text-align: center;
    background-color: $teal;
    color: $white;
  }
  h3{
    padding: 8px;
  }
  select{
    margin: 0 10px 0 10px;
    width: 95%;
  }
  option{
    height: 40px;
  }
  .export-css{
    margin: 8px 15px 8px 11px;
  }
  .save, .update, .download{
    margin: 8px 15px 8px 11px;
  }
  .font-button, .div-button{
      background-color: #fff;
      width: 13px;
      height: 30px;
      color: $dark-grey;
      outline: none;
      box-shadow: none;
      &:hover{
        background-color: #fff;
      }
      &:active{
        background-color: #fff;
      }
  }
  .view-css{
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  button{
    background-color: $teal;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 9px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    letter-spacing: .1rem;
    box-shadow: 0 3px #999;
    &:hover{
      outline: none;
      transition: all 0.5s ease;
      background-color: $dark-teal;
    }
    &:active{
      outline: none;
      background-color: $dark-teal;
      transform: translateY(4px);
    }
  }
  select{
    width: 90%;
    background: transparent;
    padding: 4px;
    font-size: 0.9rem;
    border: 0;
    border-radius: 3px;
    height: 30px;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    color: #c0c0c0;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1px;
    background-repeat: no-repeat;
    outline: none;
  }
}

.font-toggle{
  width: 68px;
  h3{
    float: right;
  }
}

.font-choices, .div-choices{
  margin: 3px 6px 3px 6px;
  border-width: 1px;
  border-bottom-style: solid;
}
.div-toggle{
  width: 60px;
  h3{
    float: right;
  }
}

.fa-caret-right{
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.fa-caret-right.open{
  transform: rotate(90deg);
  -webkit-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}


/////// TESTING ///////
.save-popup{
  display: none;
}