@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/index';
@import 'partials/nav';
@import 'partials/cssview';
@import 'partials/popover';
@import 'partials/content-page';

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$small-1: "(min-width: 0px) and (max-width: 479px)";
$small-2: "(min-width: 480px) and (max-width: 679px)";
$medium-1: "(min-width: 680px) and (max-width: 879px)";
$medium-2: "(min-width: 880px) and (max-width: 1079px)";
$large: "(min-width: 1080px)";

$black: #000000;
$white: #FFFFFF;
$grey-blue: #373F47;
$teal: #30B3AA;
$dark-teal: #2C9F97;
$dark-grey: #535353;
$light-grey: #E6E8E6;
$mint: #48DDB9;

@mixin small-1{
  @media #{$small-1} {
    @content;
  }
}

@mixin small-2{
  @media #{$small-2} {
    @content;
  }
}

@mixin medium-1{
  @media #{$medium-1} {
    @content;
  }
}

@mixin medium-2{
  @media #{$medium-2} {
    @content;
  }
}

@mixin large{
  @media #{$large} {
    @content;
  }
}

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-family: 'Lato', sans-serif;
}
a{
  text-decoration: none;
  &:visited{
    color: #000000;
  }
}

///////////////////////////////////////
/////          ABOUT PAGE         /////
///////////////////////////////////////
.about-image{
  background-image: url(https://static.pexels.com/photos/70232/pexels-photo-70232.jpeg);
}

.about-us{
  p{
    line-height: 1.25;
  }
}

.link-to-github:hover{
  font-family: cursive;
  color: $teal;
}

.flex-photos{
  flex: 0 0 200px;
  text-align: center;
  padding: 10px 10px;
  // img{
  //   width: 180px;
  //   border-radius: 50%;
  // }
  .profile{
    width: 180px;
    height: 180px;
    border-radius: 5px;
  }
  h3{
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  p{
    font-size: 0.8rem;
    color: $dark-grey;
  }
}

@include small-1{
  .pos-1{
    order: 1;
    .profile{
      background: url(/images/nikki.jpg) -720px 0;
    }
  }
  .pos-2{
    order: 2;
    .profile{
      background: url(/images/lisa.jpg) -720px 0;
    }
  }
  .pos-3{
    order: 3;
    .profile{
      background: url(/images/bryce.jpg) -720px 0;
    }
  }
  .pos-4{
    order: 4;
    .profile{
      background: url(/images/christie.jpg) -720px 0;
    }
  }
  .pos-5{
    order: 5;
    .profile{
      background: url(/images/sheena.jpg) -720px 0;
    }
  }
}
@include small-2{
  .pos-1{
    order: 1;
    .profile{
      background: url(/images/nikki.jpg) -540px 0;
    }
  }
  .pos-2{
    order: 2;
    .profile{
      background: url(/images/lisa.jpg) -540px 0;
    }
  }
  .pos-3{
    order: 5;
    .profile{
      background: url(/images/bryce.jpg) -540px 0;
    }
  }
  .pos-4{
    order: 3;
    .profile{
      background: url(/images/christie.jpg) -540px 0;
    }
  }
  .pos-5{
    order: 4;
    .profile{
      background: url(/images/sheena.jpg) -540px 0;
    }
  }
}
@include medium-1{
  .pos-1{
    order: 1;
    .profile{
      background: url(/images/nikki.jpg) -360px 0;
    }
  }
  .pos-2{
    order: 3;
    .profile{
      background: url(/images/lisa.jpg) -360px 0;
    }
  }
  .pos-3{
    order: 2;
    .profile{
      background: url(/images/bryce.jpg) -360px 0;
    }
  }
  .pos-4{
    order: 4;
    .profile{
      background: url(/images/christie.jpg) -360px 0;
    }
  }
  .pos-5{
    order: 5;
    .profile{
      background: url(/images/sheena.jpg) -360px 0;
    }
  }
}
@include medium-2{
  .pos-1{
    order: 1;
    .profile{
      background: url(/images/nikki.jpg) -180px 0;
    }
  }
  .pos-2{
    order: 2;
    .profile{
      background: url(/images/lisa.jpg) -180px 0;
    }
  }
  .pos-3{
    order: 5;
    .profile{
      background: url(/images/bryce.jpg) -180px 0;
    }
  }
  .pos-4{
    order: 3;
    .profile{
      background: url(/images/christie.jpg) -180px 0;
    }
  }
  .pos-5{
    order: 4;
    .profile{
      background: url(/images/sheena.jpg) -180px 0;
    }
  }
}
@include large{
  .pos-1{
    order: 1;
    .profile{
      background: url(/images/nikki.jpg) 0 0;
    }
  }
  .pos-2{
    order: 2;
    .profile{
      background: url(/images/lisa.jpg) 0 0;
    }
  }
  .pos-3{
    order: 3;
    .profile{
      background: url(/images/bryce.jpg) -00px 0;
    }
  }
  .pos-4{
    order: 4;
    .profile{
      background: url(/images/christie.jpg) -0 0;
    }
  }
  .pos-5{
    order: 5;
    .profile{
      background: url(/images/sheena.jpg) 0 0;
    }
  }
}

.photos{
  background-color: $light-grey;
}

///////////////////////////////////////
///// TEMPLATE & EDITOR CONTAINER /////
///////////////////////////////////////
.template-edit-container{
  margin-top: 75px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  background-color:#eaeaea;
}
// ** Template Container ** //
.template-container{
  margin: 50px 25px 50px 50px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.25);
}
.template-one{
  margin: 0 auto;
  padding: 25px;
}
.selected {
  outline: 5px solid blue;
}
// ** Style Editor ** //
.edit-container{
  width: 300px;
  margin: 50px 50px 50px 25px;
  padding-bottom: 5px;
  background-color: $white;
  h1{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: $teal;
    color: $white;
  }
  .view-css{
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  button{
    border: none;
    outline: none;
    text-decoration: none;
  }
}
// ** Accordion Menu ** //
.menu-option{
  border-bottom: 1px solid lighten($black, 75%);
  .menu-option-title{
    background-color: lighten($black, 85%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    cursor: pointer;
    h3, button {
      flex: 0 0 auto;
      background-color: transparent;
    }
    h3{
      font-size: 0.95rem;
      .menu-icon{
        color: lighten($black, 25%);
        padding-right: 10px;
      }
    }
    .menu-button{
      width: 18px;
      color: lighten($black, 25%);
      cursor: pointer;
      .fa-caret-right{
        transform: rotate(0deg);
        -webkit-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
      }
      .fa-caret-right.open{
        transform: rotate(90deg);
        -webkit-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
      }
    }
  }
  .menu-show-details{
    padding: 5px 10px 15px 10px;
    h4{
      font-size: 0.8rem;
      text-transform: uppercase;
      padding: 10px 0 5px;
    }
    select{
      background: transparent;
      width: 100%;
      height: 35px;
      border: 1px solid lighten($black, 75%);
      outline: none;
      background-color: lighten($black, 90%);
    }
    input[type=color]{
      width: 100px;
      height: 35px;
      cursor: pointer;
      outline: none;
    }
    .font-size-form{
      border: 1px solid lighten($black, 75%);
      border-radius: 5px;
      .font-size-input{
        width: 150px;
        height: 35px;
        padding: 0 10px;
        background-color:transparent;
        font-family: 'Lato', sans-serif;
        outline: none;
        border: 0;
      }
      .font-unit-input{
        width: 128px;
        background-color:transparent;
        border: 0;
      }
    }
    .image-url-form{
      input{
        outline: none;
      }
      .image-url-text{
        width: 200px;
        font-family: 'Lato', sans-serif;
      }
      .image-url-submit{
        width: 80px;
      }
    }
    .preview-upload{
      width: 280px;
      height: 200px;
      margin-top: 10px;
      font-size: 0.85rem;
      object-fit: cover;
    }
  }
}

.save-styles-container{
  padding: 5px 10px 0 10px;
  h4{
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  .user-style-name{
    width: 100%;
    outline: none;
    font-family: 'Lato', sans-serif;
    padding: 5px 2px;
  }
  .save-styles{
    border: none;
  }
}
// ** Menu Buttons ** //
.functional-button-container{
  .functional-button{
    display: block;
    width: 275px;
    margin: 10px auto;
    padding: 10px;
    color: $white;
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    text-align: center;
    letter-spacing: .05rem;
    background-color: $teal;
    cursor: pointer;
    &:hover{
      background-color: darken($teal, 15%);
    }
    &:active{
      background-color: darken($teal, 25%);
    }
  }
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 40px;
    overflow:scroll;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

// ** Current Styles Container ** //
.current-styles-container{
  width: 275px;
  margin: 10px auto;
  padding: 10px;
  height: 90px;
  background-color: $dark-grey;
  h6{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: $white;
  }
  .current-elem-styles{
    margin-top: 10px;
    padding: 5px;
    height: 50px;
    background-color: $white;
  }
}

// .edit-views-container{
//   position: relative;
// }

/////// RESOURCE PAGE ///////
.resource-image{
  background-image: url('/images/working_design.jpg');
}

.row-resource{
  padding: 75px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  .flex-resource-wrap-container{
    margin: 0 50px;
    display: flex;
    flex-flow: row wrap;
    width: 900px;
  }
}

.fontsite-container, .colorpalette-container, .grid-container{
  width: 900px;
  line-height: 1.25;
  h1{
    font-size: 25px;
    font-weight: 700;
  }
  h3 > a{
    line-height: 1.3;
    position: relative;
    text-decoration: none;
    color: #000000;
  }
  h3 > a:hover{
    color: $mint;
  }
  h3 > a:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: $mint;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
  }
  h3 > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  p{
    font-style: italic;
  }
}

///////// 404: NOT FOUND /////////
.notfound-image{
  background-image: url('/images/mountain_sky.jpg');
}
.row-notfound{
  padding: 75px 0;
  .flex-nowrap-notfound-container{
    margin: 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
.notfound-container{
  text-align: center;
  height: 40vh;
  position: relative;
  padding-top: 100px;
  h1{
    font-size: 2.5rem;
    font-weight: 700;
  }
  p{
    font-size: 1.3rem;
  }
}
.notfound-button{
  display: block;
  width: 250px;
  margin: 25px auto 10px;
  padding: 25px;
  border: 2px $white solid;
  border-radius: 5px;
  background-color: transparentize(#ffffff, 0.8);
  -webkit-transition: background-color 1.5s ease;
  transition: background-color 1.5s ease;
  color: $white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  &:hover{
    background-color: $mint;
    border: 2px $mint solid;
    text-decoration: none;
    color: #ffffff;
  }
}

////////// TUTORIAL PAGE ////////////
.tutorial-image{
  background-image: url('/images/books.jpg');
}

.tutorial-container{
  h1{
    font-size: 2.1rem;
    font-weight: 700;
  }
  h3{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
  }
  p{
    font-size: 1.1rem;
    line-height: 1.3;
  }
  p > a{
    position: relative;
    text-decoration: none;
    color: #000000;
  }
  p > a:hover{
    color: $mint;
  }
  p > a:before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: $mint;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
  }
  p > a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}