.cssView{
  text-align: center;
  h1{
    background-color: #000000;
    color: #fff;
  }
}

.showCss{
  height: 100%;
}

.footer-cssView{
  width: 100%;
  height: 40px;
  background-color: #535353;
  color: #fff;
}