.css-contain{
  text-align: center;
  position: absolute;
  ///// TO MAKE THE CSS VIEW APPEAR OVER THE EDIT ////
  top: 90px;
  height: 100%;
  width: 100%;
  h1{
    background-color: #000000;
    color: #fff;
  }
}

.view-css{
  background-color: #f0f0f0;
  display: block;
}

.footer-cssView{
  width: 100%;
  height: 30px;
  background-color: #535353;
  color: #fff;
  padding-top: 10px;
}