footer{
  background-color: $dark-grey;
  padding: 50px 15px;
  @include desktop{
    padding: 50px 0;
  }
  .footer-content{
    text-align: center;
    @include desktop{
      text-align: left;
      margin-left: 50px;
    }
    li{
      display: inline-block;
      &.footer-menu-divider{
        color: $mint;
        padding: 0 5px;
      }
      a{
        font-size: 0.9rem;
        color: $mint;
        &:hover{
          color: lighten($mint, 25%);
        }
      }
    }
    p{
      font-size: .8rem;
      color: $light-grey;
      margin: 15px 0 0;
    }
  }
}