@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Yeseva+One';

$dark-grey: #535353;
$light-grey: #E6E8E6;
$white: #FFFFFF;
$mint: #48DDB9;

.home-background{
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
    url('/images/computer.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
  height:100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark-grey;
}

.home-title{
  // border: 15px $white double;
  padding: 25px;
  color: $white;
  flex: 0 0 50%;
  h1{
    font-family: 'Yeseva One', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }
  h5{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  }
  .start-button{
    width: 250px;
    margin: 25px auto 10px;
    border: 2px $white solid;
    border-radius: 5px;
    padding: 25px;
    background-color: transparentize($dark-grey, 0.8);
    -webkit-transition: background-color 1.5s ease; /* Safari */
    transition: background-color 1.5s ease;
    &:hover{
      background-color: $mint;
      border: 2px $mint solid;
    }
    a{
      color: $white;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

footer{
  background-color: $dark-grey;
  padding: 50px 0;
  li{
    color: $mint;
    a{
      font-size: 0.9rem;
      color: $mint;
      &:hover{
        text-decoration: none;
        color: darken($mint, 25%);
      }
    }
  }
  p{
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
    color: $light-grey;
    margin: 15px 0 0;
  }
}