.home-background{
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),
    url('/images/computer.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
  padding-top: 100px;
  height:100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $dark-grey;
  @include tablet{

  }
  @include desktop{
    padding-top: 0;
  }
}

.home-title{
  padding: 15px;
  color: $white;
  flex: 0 0 100%;
  h1{
    font-family: 'SpellingNight', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    margin: 0 0 35px;
    @include tablet{
      font-size: 6rem;
    }
    @include desktop{

    }
  }
  h5{
    font-size: 1.5rem;
    width: 250px;
    margin: 0 auto 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 2px solid #FFF;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
  }
  .start-button{
    display: block;
    width: 250px;
    margin: 25px auto 10px;
    padding: 25px;
    border: 2px $white solid;
    border-radius: 5px;
    background-color: transparentize($dark-grey, 0.8);
    -webkit-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease;
    color: $white;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    &:hover{
      background-color: $mint;
      border: 2px $mint solid;
      text-decoration: none;
    }
  }
}