.nav{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 75px;
  background-color: $dark-grey;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 50px;
  .nav-left{
    flex: 0 0 25%;
    h1{
      font-family: 'SpellingNight', cursive;
      font-size: 1.25em;
      a{
        color: $mint;
        transition: color 1s ease;
        &:hover{
          color: $white;
        }
      }
    }
  }
  .nav-right{
    flex: 0 0 75%;
    text-align: right;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        display:inline-block;
      }
      a {
        text-align: center;
        margin: 0 15px;
        padding: 5px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: $white;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          border-bottom: 2px solid $mint;
          transition: 1s;
        }
        &:hover:after{
          width: 100%;
        }
        &.active {
          color: $mint;
          font-weight: bold;
        }
      }
    }
  }
}