$white: #FFFFFF;
$dark-grey: #535353;
$light-grey: #E6E8E6;
$teal: #30B3AA;

.modal.is-active{
  display: block;
}
.modal{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  .modal-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 3px solid $teal;
    background-color: $teal;
    z-index: 2;
  }
}

.modal-content > button{
  background-color: $teal;
  border: 2px solid $white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: -18px;
  right: -18px;
  .modal-close{
    font-size: 22px;
    line-height: 22px;
    color: $white;
    text-align: center;
  }
}

.modal-top{
  background: $teal;
  padding: 25px;
  text-align: center;
  color: #fff;
  .modal-check{
    font-size: 6rem;
  }
  h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 5px 0;
  }
  p{
    font-size: 1.25rem;
    margin: 5px 0;
  }
}
.modal-bottom{
  padding: 20px 0;
  background: $white;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .savepopover-button{
    background: $dark-grey;
    color: $white;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
      background-color: darken($dark-grey, 10%)
    }
  }
}