$dark-grey: #535353;
$light-grey: #E6E8E6;

.save-popup{
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 2px;
  left: 0;
  top: 0;
  overflow: auto;
}

.save-content{
  background-color: $light-grey;
  margin: auto;
  padding: 4px;
}

.close{
  float: right;
}